<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        
        <div class="wrapper">
            <div class="header-left">
                <h1 style="font-size: 70px;">Super Fantasy League
                </h1>
            </div>
        
            
        <div class="header-right">
            <ul>
                <li>Create your own team but be careful of the budget</li>
                <li>Choose players from the best clubs and the best leagues in the world</li>
                <li>You get points based on how players from your team perform in the real world games</li>
                <li>Create or join leagues with your friends</li>
                <li>Check out the complete list of players in the database tab</li>
            </ul>
            
        </div>

        </div>
    </header>

    

    <div class="wrapper">
        <main>
            <div class="main-left">
                <img src="../../assets/pictures/home1.png">
            </div>
            <div class="main-right">
                <h4>Get all access</h4>
                <h2>Create an account</h2>
                <p>
                    Gain full access to create your team and join leagues after creating an account. Right now, tabs My Team and Leagues are locked but become a member
                    and start creating your super team. Register in the top right or click the button below.
                </p>
                <button class="btn btn-primary" [routerLink]="['register']">Become a member</button>
            </div>
        </main>
    </div>

    <div class="wrapper">
        <footer>
            <div>
                <h2>SFL</h2>
                <h3>Super Fantasy League</h3>
                <h4>2022 (C)</h4>
            </div>
        </footer>
    </div>
</body>
</html>